<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/_login.css">
</head>
<body>
    <main class="main color-change-2x">
       <div class="login-con shadow-drop-center">
            <form action="">
                <!-- <div class="input-group"><input type="email" name=""  class="input"id="">
                    <label class="user-label">email</label>
                </div> -->

                <!-- <div class="input-group"><input type="password" name=""  class="input"id="">
                    <label class="user-label">password</label>
                </div> -->

                <div class="input-group">
                    <input required="" type="email" name="email" class="input">
                    <label class="user-label">email</label>
                  </div>

                  <div class="input-group">
                    <input required="" type="password" name="password" class="input">
                    <label class="user-label">password</label>
                  </div>

                <div class="submit-btn"><input type="submit" value="login➡️➡️" class="shake-horizontal"></div>
            </form>
       </div>
    </main>
</body>
</html>