body {
    background-color: #8312A5;
}

.main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    font-size: 20px;
    font-family: monospace;
}

.btn {
    width: 200px;
    height: 50px;
    background-color: black;
    border: none;
    border-radius: 10px;
}

.btn a {
    color: #8312A5;

}
.btn:hover {
    transition: all ease 1s;
    box-shadow: 10px 10px white;
}

.image {
    width: 400px;
    height: 300px;
}